@{
    ViewData["Title"] = "Home Page";
}

@model WeatherInput

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="form-group">
    <label for="CountryId">Select a Country:</label>
    @Html.DropDownListFor(model => model.Country, (SelectList)ViewBag.Countries, "-- Select Country --", new { @class = "form-control", id="ddl-country" })
</div>

<div class="form-group">
    <label for="CountryId">Select a City:</label>
    @Html.DropDownListFor(model => model.City, (SelectList)ViewBag.Cities, "-- Select City --", new { @class = "form-control", id="ddl-city" })
</div>

<button type="button" class="btn btn-primary" id="btn-submit">Submit</button>

<div id="result"></div>

@section scripts {
    <script>
        $(document).ready(function () {

            $("#ddl-country").click(function () {
                var val = $(this).val();
                if (val != "") {
                    $.ajax({
                        method: "GET",
                        url: '@Url.Action("City", "Home")',
                        data: {
                            id: val,
                        },
                        success: function (data) {
                            var dropdown = $("#ddl-city");

                            dropdown.empty();

                            dropdown.append($('<option>').text('-- Select City --').attr('value', ''));

                            $.each(data, function (index, item) {
                                dropdown.append($('<option>').text(item.name).attr('value', item.name));
                            })
                        },
                        error: function (err) {
                            alert("Error fetch city");
                        }
                    });
                }
            });

            $("#btn-submit").click(function () {
                var city = $("#ddl-city").val();
                $("#result").empty();
                if (city != "") {
                    $.ajax({
                        method: "GET",
                        url: '@Url.Action("Weather", "Home")',
                        data: {
                            city: city,
                        },
                        success: function (data) {
                            if (data.status == false) {
                                alert("Can't get weather data. Try again");
                            }
                            else {
                                var data = data.data;
                                var result = "";

                                result += "<br/>Temperature (C): " + data.main.tempCelcius;
                                result += "<br/>Temperature (Fahrenheit): " + data.main.temp;
                                if (data.weather.length > 0) {
                                    result += "<br/>Weather: " + data.weather[0].main;
                                    result += "<br/>Description: " + data.weather[0].description;
                                }
                                result += "<br/>Pressure: " + data.main.pressure;
                                result += "<br/>Humidity: " + data.main.humidity;
                                result += "<br/>Wind Speed: " + data.wind.speed;
                                result += "<br/>Wind Degree: " + data.wind.deg;
                                $("#result").html(result);
                            }
                        },
                        error: function (err) {
                            alert("Error fetch weather");
                        }
                    });
                }
            });
        })
    </script>
}